* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}

figure {
    border: 1px solid #bbb;
    width: 200px;
    height: 200px;
    background-color: #000;
}

img {
    display: block;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

hr {
    margin: 1rem 3rem;
    grid-column: 1/3;
}

.grid {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    max-width: 550px;
}

.intro {
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.5rem;
    background-color: #ace;
}

.grid>p {
    grid-column: 1/3;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}