:root {
    --primary-color: #007A4D;
    --secondary-color: #ffb81c;
    --accent-color: #e03c31;
    --text-color: #333;
    --background-color: #fff;
    --heading-font: "Merriweather", serif;
    --body-font: "lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 8px solid var(--secondary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.card {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 1rem;
    margin: 1rem;
}

.card h2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.5 1rem;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.card ul {
    list-style: none;
}

.card li span {
    font-weight: 700;
    display: inline-block;
    width: 120px;
}

.weather-icon {
    width: 40px;
    height: 40px;

    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5px;
}

footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

@media screen and (min-width: 50rem) {
    .hero {
        display: grid;
        overflow: hidden;

        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        align-items: start;
    }

    .hero img {
        width: 100%;
        height: 100%;
        position: relative;
        grid-column: 2/3;
        object-fit: cover;
        display: block;

    }

    .card {
        position: relative;
        width: 280px;
        background-color: rgb(255, 255, 255, 0.9);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0, 0, 3);
        border-radius: 8px;
        padding: 1rem;
    }

    .data {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .weather {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    .weather-icon::before {
        content: "⛈";
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
    }
}