#hamburger {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    border-top: none;
    flex: 1;
}

.temple-grid {
display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .75rem;
}

figure {
    display: grid;
    padding: 1rem;
}