:root {
    --primary-color: #264653;
    --secondary-color: #e9c46a;
    --accent-color: #f4f4f4;
    --text-color: #222;
    --heading-font: "Merriweather", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--accent-color);
}

.container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
}

header {
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

#course-title {
    display: block;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: var(--primary-color);
    /*flex-direction: column;*/
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav.show {
    display: flex;

}

nav a {
    color: white;
    /*text-decoration: none;*/
    padding: 1rem;
    text-align: center;
    /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
}

nav a:hover {
    text-decoration: underline double;
    background-color: #eee;
    color: #000;
}

#hamburger {
    /*display: none;*/
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

#hamburger span {
    height: 3px;
    width: 100%;
    font-size: 2rem;
    color: white;
}


@media screen and (max-width: 600px) {
    #hamburger {
        display: flex;
    }

}

main {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
    color: var(--primary-color);
    margin: 1rem;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*gap: 1rem;*/
    margin-top: 2rem;
}

figure {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    /*padding: 0.5rem;*/
    text-align: center;

}

figure img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

figcaption {
    font-family: var(--heading-font);
    font-weight: 700;
    padding: 0.5rem 0 0;
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}